body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  width: 100%;
  padding: 20px 0;
  color: #c9ced9;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #424242;
}

.chat {
  width: 40%;
  min-width: 350px;
  padding: 20px;
  margin: 0 auto;
  height: 400px;
  overflow-y: auto;
  border-radius: 10px;
  border: 1px solid green;
}

.chat-message {
  padding: 10px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
